<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="default" connectionString="Server=14.225.255.234;Database=btl_lttq;UID=lttq_account;PWD=sqlServer00p@ssword,;Integrated Security=false;"
		 providerName="System.Data.ProviderName" />
		<add name="BTL_LTTQ_QLKhoVLXD.Properties.Settings.btl_lttqConnectionString"
		 connectionString="Data Source=14.225.255.234;Initial Catalog=btl_lttq;Persist Security Info=True;User ID=lttq_account;Password=sqlServer00p@ssword,"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>