<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="default"
			 providerName="System.Data.ProviderName"
			 connectionString="Server=14.225.255.234;Database=btl_lttq;UID=lttq_account;PWD=sqlServer00p@ssword,;Integrated Security=false;"
	/>
	</connectionStrings>
</configuration>